.site-footer {
  background-image: linear-gradient(270deg, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 1%, rgba(0,0,0,0.45) 100%), url("../../img/backgrounds/newslater.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #ffffff;
  padding: 90px 0 100px;
  height: 370px;
  .wrap {
    max-width: 650px;
    margin: 0 auto;
  }
  p {
    line-height: 30px;
    font-size: 18px;
    a {
      font-size: 18px;
      text-decoration: none;
      font-weight: bold;
      color: #ffffff;
    }
  }
}