.site-header {
  padding: 40px 0;
  background-color: $gray;
  .container {
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(center);
  }
}
.logo-wrap {
 position: relative;
  img {
    max-width: 160px;
  }
  h1 {
    position: absolute;
    text-indent: -9999px;
  }
}
.site-nav {
  .nav-list {
    li {
      float: left;
    }
  }
  a {
    text-decoration: none;
    color: #31353e;
    font-size: 18px;
    margin-left: -15px;
    padding: 12px 26px;
    border-radius: 28px;
    transition: 0.2s;
    &:hover {
      background-color: #dd4b2b;
      color: #ffffff;
    }
  }
}
.newslater-header {
  max-width: 600px;
  margin: 0 auto;
  h2 {
    font-size: 30px;
  }
  p {
    margin-top: 15px;
    font-size: 15px;
    line-height: 30px;
  }
}